html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: inherit;
}
.header{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: right;
    width: 100%;
    padding: 0px;
    margin-right:  20px;
}
.header li{
    margin: 6px 8px 6px 10px;
    font-size: 14px;
}
#menu{
    width: 24px;
    margin-top: 5px;
}
.search{
    width: 590px;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 22px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 0px 8px 0px 14px;
}
.search:focus-within{
    box-shadow: 0px 1px 6px rgb(202, 201, 201);

}
#search-input{
    width: inherit;
    height: inherit;
    border: none;
    outline: none;
}

#search-icon{
    color: aqua;
    opacity: 44%;
    width: 15px;
}
.search img{
    width: 24px;
    padding: 0px 8px 0px 8px;
}
.search-button{
    margin-top: 18px;
}
.search-button input{
    padding: 8px 16px 8px 16px;
    margin: 11px 4px 11px 4px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #202124;
}
.language{
    margin-top: 18px;
    color: #4d5156;
}
.language a{
    margin: 0px 5px 0px 5px;
    font-size: 14px;
    text-decoration: none;
}
.country{
    text-align: left;
    padding: 16px 30px 16px 30px;
    background-color: #f2f2f2;
    color: #70757a;
    border-bottom: 1px solid #dadce0;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 16px 30px 16px 30px;
    background-color: #f2f2f2;
}
.footer a{
    margin: 0px 5px 0px 5px;
    color: #70757a;
    text-decoration: none;
}
.f-container{
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 14px;
}